@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

html{
    font-size: 62.5%;
}


/* 001 */

.body-A{
    background-image: linear-gradient(45deg,#75a6ea, #0000BB); 
}

.square-A{
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, rgb(239, 99, 12), rgb(154, 80, 80)); 
}

/* 002 */

.title-B{
    font-family: "Playwrite MX", cursive;
}

/* 003 */

.h1-C{
    font-size: 2rem;
}

.p-C{
    font-size: 1rem;
}

/* 004 */

.squad-D{
    width: 300px;
    height: 300px;
    background-color: rgb(57, 174, 14);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(50, 144, 16);
}

/* 005 */

.squad-E{
    width: 30rem;
    height: 30rem;
    background-color: rgb(193, 199, 10);
    border: 0.4rem solid rgb(0, 0, 0);
    border-radius: 2rem;
}

.squad-E:hover{
    width: 35rem;
    height: 35rem;
    background-color: rgb(199, 98, 10);
}