body{
    padding: 0;
    margin: 20px;
    background-color: #F4F4F4;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #333333;
    color: #FFFFFFFF;
    text-align: center;
    padding: 20px 0px;

}

section{
    background-color: #FFFFFFFF;
    border: 1px solid #DDDDDDDD;
    padding: 20px;
    margin: 20px 0px;
}

#sobre{
    text-align: center;
}

#sobre img{
    width: 300px;
}