/* css.html */

h1{
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    background-color: #ece8e8;
    border: 4px solid #df2222;
}

section .css-h3{
    font-size: 25px;
    text-align: center;
}

section ul li{
    list-style-type: none;
}

.css-h3 {
    color: #7011e3;
    background-color: #e8e8e8;
}

.css-a{
    color: #1111e6;
}

.css-li {
    color: #8f1414;
}

.listas{
    display: flex;
    flex-direction: row;
}

.listaA{
    flex: 1;
}

.listaB{
    flex: 1;
}


/* .conteudo{
    border: 4px solid #869706;
    background-color:#d2ea1f;
    width: 200px;
    height: 200px;
    margin: 5px 5px 0px;
} */

/* .conteudo span{
    display: block;
    background-color: #cf3c29;
    margin: 0px 0px 10px 0px;
} */

